version: "3.9"
services:
  postgres:
    image: "postgres:14.1-alpine"
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=nats-service
    command: ["postgres", "-c", "log_statement=all"]
  nats:
    image: "nats:2.7.1-scratch"
    ports:
      - "4222:4222"
      - "8222:8222"
    command:
      - "-js"
